h1 {
	text-align: center;
	color: #D51335;
	font-family: Comic Sans MS;
	font-size: 50px;
} 
body{
	background-color:black;
	color: #D51335;
	cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1074.cur), auto !important; 
}
h2 { 
	text-align: center;
	color: #D51335;
	font-family: Comic Sans MS;
	font-size: 30px;
}
h3{
	text-align: center;
	color: #D51335;
	font-family: Comic Sans MS;
	font-size: 70px
}

.grid {
  display:grid;
  border: 7px #D51335 solid;
  height: cover;
  width: cover;
  grid-template-columns: reapeat (36,1fr)
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}

.box {
  background-color: black;
  color:  #black;
  border-radius: 5px;
  border: 2px #D51335 solid;
}

.colone-span1 {
	grid-column-start: 1;
	grid-column-end: span 1;
}
.coltwo-span1 {
	grid-column-start: 2;
	grid-column-end: span 1;
}
.colthree-span1{
	grid-column-start: 3;
	grid-column-end: span 1;
}
.colfour-span1{
	grid-column-start: 4;
	grid-column-end: span 1;
}
.colfive-span2{
	grid-column-start: 1;
	grid-column-end: span 2;
	font-size: 30px
}
.colsix-span2{
	grid-column-start: 3
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: Red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}