h1 {
	text-align: center;
	color: #D51335;
	font-family: Comic Sans MS;
	font-size: 50px;
} 
body{
	background-color:black;
	color: #D51335;
	cursor: url(http://ani.cursors-4u.net/cursors/cur-11/cur1074.cur), auto !important; 
}
h2 { 
	text-align: center;
	color: #D51335;
	font-family: Comic Sans MS;
	font-size: 30px;
}
h3{
	text-align: center;
	color: #D51335;
	font-family: Comic Sans MS;
	font-size: 70px
}
.grid {
  display:grid;
  border: 7px #D51335 solid;
  height: cover;
  width: cover;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 11fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}

.box {
  background-color: black;
  color:  #black;
  border-radius: 5px;
  border: 2px #ECD4E1 solid;
}

.a{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  
}
.b{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.c{
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}
.d{
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
 
}
.e{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 2;
 
}

.f{
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end:span 2;
	
}
.g{
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end:span 2;
}
.h{
	grid-column-start: 4;
	grid-column-end: span 1;
	grid-row-start: 3;
	grid-row-end:span 2;
	
}
.i{
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 5;
	grid-row-end:span 2;
	
}
.j{
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 5;
	grid-row-end:span 2;
	
}
.k{
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 5;
	grid-row-end:span 2;
	
}
.l{
	grid-column-start: 4;
	grid-column-end: span 1;
	grid-row-start: 5;
	grid-row-end:span 2;
	
}
.m{
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 7;
	grid-row-end:span 2;
	
}
.n{
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 7;
	grid-row-end:span 2;
	
}
.o{
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 7;
	grid-row-end:span 2;
	
}
.p{
	grid-column-start: 4;
	grid-column-end: span 1;
	grid-row-start: 7;
	grid-row-end:span 2;
	
}
.q{
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 9;
	grid-row-end:span 2;
	
}
.r{
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 9;
	grid-row-end:span 2;

}
.s{
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 9;
	grid-row-end:span 2;
	
}
.t{
	grid-column-start: 4;
	grid-column-end: span 1;
	grid-row-start: 9;
	grid-row-end:span 2;
	
}
.one{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end:span 2;
	font-size: 30px
}
.two{
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end:span 2;
	font-size: 30px
}
.three{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end:span 2;
	font-size: 30px
}
.four{
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end:span 2;
	font-size: 30px
}
.five{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 5;
	grid-row-end:span 2;
	font-size: 30px
}
.six{
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 5;
	grid-row-end:span 2;
	font-size: 30px
}
.seven{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 7;
	grid-row-end:span 2;
	font-size: 30px
}
.eight{
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 7;
	grid-row-end:span 2;
	font-size: 30px
}
.nine{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 9;
	grid-row-end:span 2;
	font-size: 30px
}
.ten{
	grid-column-start: 3;
	grid-column-end: span 2;
	grid-row-start: 9;
	grid-row-end:span 2;
	font-size: 30px
}

.columonespan {
	grid-column-start: 1;
	grid-column-end: span 1;
}

